{% extends "base.twig" %} {% block content %}
<div class="content-wrapper">
  <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
    {# <img src="{{ post.thumbnail.src|resize(1200, 300) }}" />
    <section class="article-content">
      <h1 class="article-h1">{{ post.title }}</h1>
      <a href="{{ post.link }}">{{ _e('edit') }}</a>
      <p class="blog-author">
        <span>By</span
        ><a href="{{ post.author.path }}"> {{ post.author.name }} </a
        ><span>&bull;</span>
        <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{
          post.date
        }}</time>
      </p>
      <div class="article-body">
        {{ post.content }}
      </div>
    </section>
    #}

    <section
      style="background-image:url('{{ post.thumbnail.src }}')"
      class="wp-block-uagb-section uagb-section__wrap uagb-section__background-image container-fluid header-2col-text-background-image d-flex align-items-center"
    >
      <div class="uagb-section__overlay"></div>
      <div class="uagb-section__inner-wrap">
        <div class="wp-block-columns row">
          <div class="wp-block-column col-12">
            <div class="wp-block-group container">
              <div class="wp-block-group__inner-container">
                <div class="wp-block-columns row">
                  <div class="wp-block-column col-md-12 col-lg-5">
                    <h4 class="has-black-color has-text-color">
                      {{ post.category }}
                    </h4>

                    <h2 class="has-black-color has-text-color">
                      {{ post.title }}
                    </h2>

                    <p>{{ post.preview }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ post.content }}

    <!-- comment box -->
    {#
    <section class="comment-box">
      <!-- comments -->
      <div class="comments">
        {% if post.comments %}
        <h3>comments</h3>
        {% for cmt in post.comments %} {% include "comment.twig" with
        {comment:cmt} %} {% endfor %} {% endif %}
      </div>

      {% if post.comment_status == "closed" %}
      <p>comments for this post are closed</p>
      {% else %}
      <!-- comment form -->
      {% include "comment-form.twig" %} {% endif %}
    </section>
    #}
  </article>
</div>
<!-- /content-wrapper -->
{% endblock %}
